<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin Panel-Delete Admins</title>

	<!---------- CSS ------------>
	<link rel="stylesheet" type="text/css" href="./static/style_delete.css">

</head>

<body>

    <!--start signup-form -->
    <div id="signup-form">
        
        <!--BEGIN #subscribe-inner -->
        <div id="signup-inner">
        
        	<div class="clearfix" id="header">
        	        	        
                <h1>Admin Panel-Add admins </h1>

            
			</div>
			
           <form method="post" action="register">
   
            	
                <p>

                <label for="name">Name *</label>
                <input id="name" type="text" name="name" value="" placeholder="Name"/>
                </p>
                
                <p>
                <label for="Password">New Password*</label>
                <input type="password" name="password" value="" placeholder="Password"/>
                </p>
                
                <p>

                <label for="email">New Email *</label>
                <input id="email" type="text" name="email" value=""placeholder="E-mail"/>
                </p>
              
			  
                <p>

                <button id="submit" type="submit">Submit</button>
                </p>
                
            </form>
            
		<div id="required">
		<p>* Required Fields<br/>
		</p>
		</div>


            </div>
        
        <!--end signup-inner -->
        </div>
        
    <!--end signup-form -->   
    </div>

</body>
</html>
